@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-section,
.response-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    background-color: hsl(0, 100%, 50%);
}

.title {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
}

.question-section .buttons {
    display: flex;
    gap: 30px;
}

.question-section button {
    background-color: hsl(350, 97%, 74%);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.button-yes{
    transition: 0.3s ease-in;
}

.button-no{
    transition: 0.1s ease-in;
}

.question-section button:hover {
    background-color: hsla(350, 97%, 74%, 60%);
}

.relogin {
    position: absolute;
    width: 20px;
    top: 97%;
    left: 98%;
    transition: 1s ease-in;
}

.none{
    display: none;
}